html, body {
    width: 100%;
    height: 100%;

}
#draggable {
    background: orange;
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    white-space: nowrap;
    text-align: center;
    cursor: url(/imagenes/mapach.png), auto;
  }
h1 {
    font-family: "Abel", Fantasy;
    color: rgb(180, 180, 180);
    text-transform: uppercase;
    text-align: center;
    z-index: 0;
    margin-top: -48px;
    letter-spacing: 10px;
    line-height: 0.70rem;
    outline: none;
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
}

header a {
    font-family: "Bebas Neue", Fantasy;
    color: rgb(134, 134, 134);
    text-decoration: none;
    padding: 0 0.5rem;
    top: 2250px;
    z-index: 3;
}

.fondo {
    height: 918px;
    width: 1632px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    overflow: hidden;
    background-color: #141414;
}

.izq {
    color: transparent;
    font-size: 170px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);

}

button {
    padding: 200px;
    color: rgb(180, 180, 180);
    font-size: 30px;
    margin-top: 780px;
    padding: 20px;
    font-family: "Bebas Neue", Fantasy;
    background-color: #131313;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    border: rgb(27, 195, 247);
    margin-left: 325px;
    box-shadow: 0px 0px 20px 0px rgba(27, 195, 247,1);

    


}



#myCanvas{

    background-image: url("imagenes/fodnos.png");
    background-size: cover;

}
canvas {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    cursor:url(/imagenes/mapache.png), auto;
}
img{
    opacity: 0;
}
.fondo:before {
    content: "";
    background-image: conic-gradient(
            #107299 20deg,
            transparent 120deg
    );
    height: 150%;
    width: 150%;
    position: absolute;
    left: -25%;
    top: -25%;
    animation: rotate 20s infinite linear;
}

@keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}

.fondo:after {
    content: ".";
    height: 98%;
    width: 98%;
    position: absolute;
    background-color: #141414;
    border-radius: 2px;
    top: 1%;
    left: 1%;
    color: #141414;
}

body {
    background: linear-gradient(-45deg, #264263, #0c1922, #161616, #161616);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}